@import 'tailwindcss';

@theme {
  --default-font-family: 'Geologica';

  --color-bg: #070707;
  --color-text: #e0e0e0;
  --color-primary: #619af9;
  --color-secondary: #121212;

  --drop-shadow-primary: 0 0 0.2rem #619af9;
}

body {
  @apply bg-bg text-text;
  user-select: none;
}

input {
  outline: none;
}
