@import 'tailwindcss';

@theme {
  --default-font-family: 'Geologica';

  --color-bg: #070707;
  --color-text: #e0e0e0;
  --color-primary: #619af9;
  --color-accent: #ab540f;
  --color-secondary: #121212;

  --drop-shadow-primary: 0 0 0.2rem #619af9;
}

body {
  @apply bg-bg text-text tabular-nums;
  user-select: none;
}

input {
  outline: none;
}

button {
  @apply transition-opacity;
  cursor: pointer;
}

h2 {
  font-size: clamp(2rem, 1.865rem + 0.68vw, 2.5rem);
}

h3 {
  font-size: clamp(1.5rem, 1.365rem + 0.68vw, 2rem);
}

h4 {
  @apply text-primary;
}
